---
layout: home
title: 'Welcome - COM 525 Portfolio - GrubHub'
---

<h1 class="page-title">{{ page.title }}</h1>
<hr>
<img src="http://i.imgur.com/mqWNDXF.jpg" style="width: 50%; margin-bottom: 2rem;">
<p>
  This website is a portfolio of the work that team GrubHub of Illinois Tech, COM 525 produced during the Spring 2017 semester.
</p>
<p>
  We would like to send our gratitude to our Professor <a href="https://www.linkedin.com/in/libbyhemphill/" target="_blank">Libby Hemphill</a> and TA <a href="https://www.linkedin.com/in/xi-rao-iit/" target="_blank">Xi Rao</a> - thank you!
</p>
<h2>Executive Summary</h2>
<p>
  This team is composed of four IT students that used the principles of user-center design and inspection methods for conducting user experience research to support their thesis.
</p>
<h3>Thesis</h3>
<p>
  <i>Adding visuals to GrubHub’s mobile application would reduce buyer's remorse and be a driving force for future sells.</i>
</p>
<p>
  Students collectively planned and conducted reports that evaluated the UX/UI of, but not limited to, GrubHub’s mobile application available on iOS and Android. The nature of the course work consisted of researching, collecting, and interpreting data, in concert with formally detailing report outcomes and recommendations, all from the lense of user-centered design. This website will showcase the highlights of the students work.
</p>
<h3>User Test Plan</h3>
<p>
  The User Test Plan was designed to help us learn about our user. Systematic questions were used to extract information from our participants to support clearly defined goals that surround our thesis. Users were asked to test the GrubHub application by following an oral script recited from an orator that guided them through several procedures. Both performance and preference data were collected during the test sessions- worth reading.
</p>
<h3>User Test Report</h3>
<p>
  The User Test Report is a formal report that clearly details the results and specifics of the User Test Plan. It allows the investigator or tester to view the User Test Report data in chronological order, making it easy to compare and report the results of the participants  to upper-management. The results can reveal commonalities and distinct differences between the participants, helping us reshape our goals and thesis and to become aware of our suttle assumptions.
</p>
<h3>Persona</h3>
<p>
  Personas are fictional characters that are designed to mimic an actual user. We created different skeletons to help us focus and decided on the appropriate personas for our overall aim. The data of our personas were collected from reputable sources that describes the behaviors and attitudes from our target group.
</p>
<h3>Survey</h3>
<p>
  The survey is predicated on the results of the User Test Plan. Participants were asked specific questions that revealed their motives and attitudes when interacting with GrubHub’s mobile application. The outcome helped us ascertain the usability of GrubHub's application and more insight about a typical user.
</p>
<h3>Competitive Analysis</h3>
<p>
  Our competitive analysis was created to juxtapose the search feature of GrubHub against its direct and indirect competitors. The search feature became a focal point because it is the engine users rely on when interacting with the app. Flowcharts are available for reviewing!
</p>
<h3>Inspection Method</h3>
<p>
  For our inspection method, we used a Cognitive Walkthrough to effectively evaluate ease of learning. We used four key questions for each step of the walkthrough. The results were predictable but the notes are worth reading.
</p>

<hr>

<h2>Table of Content</h2>
You will find on this website the different project we realize to study <b>GrubHub</b> UX and to propose improvements.
The differents reports can be found using the links on the left-menu or by navigating this table of content:
<ol>
  {% assign pages_list = site.pages | sort:"weight" %}
  {% for node in pages_list %}
  {% if node.title != null %}
  {% if node.layout == "page" %}
  <li>
    <a href="{{ node.url | prepend:site.baseurl }}">{{ node.title }}</a>
  </li>
  {% endif %}
  {% endif %}
  {% endfor %}
</ol>

<hr>

<h2>Conclusion & Takeaways</h2>

<h3>Conclusion</h3>
<p>
   If there is one thing to be learned from this UX breakdown with GrubHub it is that keeping the user within the application is most important to user satisfaction. Our purpose of this investigation was to find whether or not adding pictures to menu items would increase user satisfaction and selection bias. Furthermore, we established if menu items simply had a more detailed description, such as key ingredients, it would reduce time spent outside of the application to search for information on Google. Trust was another key issue we found apparent in GrubHub’s interface. GrubHub had lacked the information that we as well as our users needed to make an informed decision during our analysis. We could not say nor prove that users could trust the information readily available through GrubHub to make their sole decision. 
</p>

<p>
  In retrospect, GrubHub did its job as far as aiding the user through the selection process. Although, throughout our research we found a strong bias to include visual information such as pictures to each or as many dishes as possible to further improve the user experience. 
</p>

<h3>Takeaways</h3>
<p>
<ul>
  <li>The user review system is too broad, and not always apparent. It would be convenient for users to be able to rate or review each and every item, as well as add their own pictures of the food.</li>
  <li>To help ease user selection, adding quick selections such as a “happy hour menu” or “working lunch menu” could help ease users who want to be suggested a meal that others in their similar situation have ordered. To further improve upon this, adding a geolocation cache whereas when a user loads up the application it will suggest popular dishes from restaurants that others from within their own workplace or surrounding have consistently ordered.</li>
  <li>We cannot assume the user is always 100% coherent in regards to search results, adding subtle emphasis through visual indicators, such as bolding or underlining search terms in the results, would be benefical and could help steer the user in the right direction.</li>
</ul>
</p>
