---
layout: page
title: User Test Report
weight: 2
---
Your user test plan is due **Wednesday, Feb 22** _before class_.

<center>

<h1> GrubHub User Test Report </h1>
<br>
<h2> Qi Zhang, Jason Hedlund, Tracy Francis, and Florian Wahl </h2>
<br>
<h3> 02/22/2017 </h3>
---
</center>


# Table of Contents
1. [Introduction / About this report](#1)
2. [Executive Summary](#2)
3. [Methods](#3)
4. [Participants](#4)
5. [Summary of Results](#5)
   1. [Overall Task Completion](#5-1)
   2. [Results by tasks](#5-2)
   3. [Errors](#5-3)
   4. [Overall Ratings/Metrics](#5-4)
   5. [Participants Feedback](#5-5)
6. [Recommendations](#6)
7. [Conclusion](#7)


# 1. <span id="1">Introduction / About this report</span>
This report focuses on the user testing of the GrubHub mobile application. GrubHub is a Chicago based company, founded in 2004.


According to [GrubHub’s website](https://www.grubhub.com/): ＊“Grubhub is the nation's leading online and mobile food ordering company dedicated to connecting hungry diners with local takeout restaurants. The company’s online and mobile ordering platforms allow diners to order directly from more than 50,000 takeout restaurants in over 1,100 U.S. cities and London. Every order is supported by the company’s 24/7 customer service teams. Grubhub has offices in Chicago, New York and London.”＊

This mobile application allow users to order food for delivery. The selection of restaurants and food is based on their location. The app offers different filters that help users by narrowing down the selection of available restaurants by their prefered food or cuisine. The users can then place the order directly from his or her smartphone or computer to be delivered.


Regarding this report, the first part describes the methods applied to the conducted user test, then we will give a description of our participants and a summary of the relevant characteristics. In the third part, we will provide a summary of the results, overall and by tasks, and give the participants feedback. Finally, we will provide recommendations based on our observations and the results of our individual user tests.

# 2. <span id="2">Executive Summary</span>
Our group conducted four face-to-face user tests toward GrubHub separately during Feb. 8th to Feb 19th. The purpose of our user tests was to assess the usability of GrubHub, the process of users making orders, and then to retrieve and analyze user experience data. We combined our individual records and data, and then contributed to this final test report towards GrubHub.

Four participants took part in our user tests, and they were asked to finish seven tasks we assigned. Each user test lasted around 45 minutes. 

In General, most participants quickly learned the basics of how to operate GrubHub in terms of searching for local restaurants, finding certain cuisines, and being able to checkout.

However, the test identified several problems which influenced user experience and decisions they made:

- Users struggle when they don’t know the descriptions and pictures of unfamiliar dishes.

- The review function is not obvious.

- User cannot copy the name of food directly from within the application.

- User may rely on a third-party application to figure out what the unfamiliar food contains and looks like.

This report contains the analysis of four participants, summary of results, satisfactions ratings(from the comments), task completion rates, errors, participant feedback, and recommendations for improvements. 

# 3. <span id="3">Methods</span>
In this section, we will summarize the methods we used to run our user tests.

Participants were friends or relatives that answered the characteristics defined in the “User Test Plan”.

The participants answered the characteristics defined in the plan for the potential users:

- Know how to use a smartphone and basic applications

- Typically, they are busy, in a rush, they don't have the time to pick up food for themselves.

The decisions of the tasks we are proposing in this plan have been made to answer the research questions. Some of them are:

- Do users know what they are ordering? How do users figure out what a particular dish looks like?

- How would a user find information concerning a dish?

We expect the following results:

－Users will struggle to find out what a dish looks like, especially if they have never experienced the certain dish

－ Users will tend to use an outside source, such as a search engine, to find out what a dish looks like

－ Order decisions are made regarding the ratings, the prices, and the popularity of dishes

The user test we ran, can be decomposed in three main parts: 

－ A **pre-questionnaire**: allows to collect information about the participant background, his or her savviness with smartphones

－ A set of seven **tasks**

－ A **debrief**: allows to collect the participants’ feedback on the overall test and the GrubHub application

The complete plan can be found on our portfolio:[User Test Plan](https://florian-wahl.github.io/com525portfolio/user-test-plan/)


# 4. <span id="4">Participants</span>

**Number of participants: 4**

The participants have been selected based on the criteria defined in the user test plan. We will provide a description of our participants in the following section. Only three characteristics are relevant: 

－ **Frequency of use**: how often does the participant uses his or her smartphone, expressed in a percentage of the free time; 

－ **Experience of use**: what experience does the participant have with a smartphone, ranked between “low” (almost none) and “high” (savvy);

－ **Profile**: what are the participant main occupation in life (ie. is the participant often in a rush)

These three are summarized at the end of this section. The other characteristics allow us to have more background but are not relevant to the completion of the test.


# 5. <span id="5">Summary of Results</span>
## 5.1. <span id="5-1">Overall Task Completion</span>

## 5.2. <span id="5-2">Results by tasks</span>

## 5.3. <span id="5-3">Errors</span>

## 5.4. <span id="5-4">Overall Ratings/Metrics</span>

## 5.5. <span id="5-5">Participants’ Feedback, Likes, Dislikes, & Recommendations</span>

# 6. <span id="6">Recommendations</span>
[The recommendations section provides recommended changes and justifications driven by the participant success rate, behaviors, and comments. ]

# <span id="7">Conclusion</span>
