---
layout: page
title: User Test Report
weight: 2
---
Your user test plan is due **Wednesday, Feb 22** _before class_. The required components of the plan are

- goals
- research questions
- participant characteristics
- test script (what will the moderator say)
- task list
- data and evaluation measures

**The system** : GrubHub iOS app

## The Report

**Coming SOON**! Stay tuned...
