---
layout: page
title: User Test Report
weight: 2
---
Your user test plan is due **Wednesday, Feb 22** _before class_.

<center>

<h1> GrubHub User Test Report </h1>
<br>
<h2> Qi Zhang, Jason Hedlund, Tracy Francis, and Florian Wahl </h2>
<br>
<h3> 02/22/2017 </h3>
---
</center>


# Table of Contents
1. [Introduction / About this report](#1)
2. [Executive Summary](#2)
3. [Methods](#3)
4. [Participants](#4)
5. [Summary of Results](#5)
   1. [Overall Task Completion](#5-1)
   2. [Results by tasks](#5-2)
   3. [Errors](#5-3)
   4. [Overall Ratings/Metrics](#5-4)
   5. [Participants Feedback](#5-5)
6. [Recommendations](#6)
7. [Conclusion](#7)


# 1. <span id="1">Introduction / About this report</span>
[Include and introduction about the Web site or application and the purpose of the site.]

[Provide a summary about who conducted the test and what they used. Include a brief summary about the session data.]

# 2. <span id="2">Executive Summary</span>
[The Executive Summary should describe when and where the usability test took place. Describe the purpose of the test. Include the number of participants and the length of the sessions. Provide any additional information about the test.

Provide a brief overview of the results. Include a glimpse of the overall ease of use and some of the participant demographic information. Provide a bulleted list of the problems.

Provide a paragraph describing what is included in the document.]

# 3. <span id="3">Methods</span>
[Describe how the participants were recruited. Describe the individual sessions – length of time and what happened during those sessions. Explain what the participant was asked to do and what happened post test session. Describe any pre- or post-test questionnaires. Include the subjective and overall questionnaires in the attachments’ section.]

# 4. <span id="4">Participants</span>
[Provide a description of the participants. Include the number of participants, dates and the number of participants on each testing day.

Provide a summary of the results from the demographic/background questionnaire and display this information in a table.]

# 5. <span id="5">Summary of Results</span>
## 5.1. <span id="5-1">Overall Task Completion</span>

## 5.2. <span id="5-2">Results by tasks</span>

## 5.3. <span id="5-3">Errors</span>

## 5.4. <span id="5-4">Overall Ratings/Metrics</span>

## 5.5. <span id="5-5">Participants’ Feedback, Likes, Dislikes, & Recommendations</span>

# 6. <span id="6">Recommendations</span>
[The recommendations section provides recommended changes and justifications driven by the participant success rate, behaviors, and comments. ]

# <span id="7">Conclusion</span>
