---
layout: post
title: 'User testing with Guillaume B.'
tags: [user-test]
description: >
  One iteration of the User Test on the user Guillaume
---
**Author**: Florian W.

## Pre-Questions
Guillaume is a graduate student at IIT. He is also the Co-Founder of a Startup called [HubRoad](http://hubroad.io/). These two activities take the majority of his time.

He spend a lot of his free time _using his phone_ (approx. 40% of the time). Out of this time, 70% is for **web browsing** and the rest is  for **apps** usage.
Mainly, Guillaume uses _News App_ and his favorite app is _Google Maps_.

## Tasks
The following are the notes taken during the execution of the tasks #1 to #4 (we had to stop earlier).

### #1
First launch, ads seen first, then checked the ratings, the prices (more expensive), distances to actual location, price of delivery
The first restaurant are “sponsored”
Tried the menu on the left
Tried the search button (select cuisines, filters)

### #2
The process Guillaume went through:

“Sushi” → cuisine button → “Japanese” → use the filters (ratings & price range) → first one on the list “Ohama Sushi Cafe” → $3 fees “ok” → select → check the more popular meals → nice descriptions + pictures → place order

**F**: _Do you plan to use the reviews as part of your decision process?_

**G**: Check the ratings only, not the reviews when the food is known

### #3
To do so:

First, went to the cuisine tabs → check the name of the cuisines and look for one that is unfamiliar → “Dimsum” → refine the criteria/filters → “It’s a type of Chinese restaurants” → check the good ratings first → “doesn’t seem to expensive” → check the reviews to know what type of dish it is → all menu are proposed, but when you don’t know the meals, you only look at the most popular ones

### #4
Tried to long press the name of a dish → nothing happens
Tried to select the dish → redirect to the “cart/purchase”, no mode details about the dish

**F**: _Outside the app, how would you search info?_

**G**: Google / Search engines

**F**: _What features would you add?_

**G**:
- More precise descriptions + pictures for all the meals
- Change the UI: use tabs for the different menus instead of lists

### Debrief
According to Guilaume's feedback, the overall process (of the user testing) is fine and easy to understand
